# Sampling Notebook

Pada notebook ini akan dilakukan sampling terhadap data sebelum dilakukan labeling secara manual.

## 1. Import Libraries

Import library yang akan digunakan

In [8]:
import numpy as np
import pandas as pd

from datetime import datetime

## 2. Load Dataset

Load data ke memmory menggunakan library pandas.

In [9]:
## Import data
data = pd.read_csv('../data/Data Scraper - Indodax.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1187 non-null   object
 1   Content  1200 non-null   object
dtypes: object(2)
memory usage: 18.9+ KB

## 2. Drop Duplicate

Menghapus data yang berduplikasi

In [10]:
data = data.drop_duplicates('Content')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 901 entries, 0 to 1197
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     890 non-null    object
 1   Content  901 non-null    object
dtypes: object(2)
memory usage: 21.1+ KB

## 3. Sampling

Dilakukan sampling menggunakan method `sample` dari library `pandas` sebanyak 700 data.

**Note** : Naikan banyak sample agar model yang dibuat lebih baik dan relevant terhadap banyak kasus

In [11]:
BANYAK_SAMPLE_DATA = 700
sample = data.sample(n=BANYAK_SAMPLE_DATA, random_state=2020)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 365 to 421
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     694 non-null    object
 1   Content  700 non-null    object
dtypes: object(2)
memory usage: 16.4+ KB

## 4. Export Sample Dataset

Export sample dataset

In [12]:
sample.to_csv(f'../output/{datetime.today().strftime("%Y-%m-%d")}_Sample Review.csv')